<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tb121.ssm.mapper.UserContactInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tb121.ssm.entity.UserContactInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="phone" property="phone" />
        <result column="area1" property="area1" />
        <result column="area2" property="area2" />
        <result column="area3" property="area3" />
        <result column="qq" property="qq" />
        <result column="email" property="email" />
        <result column="now_addr" property="nowAddr" />
        <result column="emergency" property="emergency" />
        <result column="emergency_phone" property="emergencyPhone" />
        <result column="emergency_rela" property="emergencyRela" />
    </resultMap>

</mapper>
